<<<<<<< HEAD
body{
    color:0,222,555.5;
    margin:200px; 
    font-family: 'Cousine', monospace ;
    background-image: url(net-development.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    word-wrap:break-word;

}

h1{

    text-align: center;
    background-image: url(CSGO.jfif); 
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}

section{border-style:solid;
    text-align: left;
     border-width:  5px black}

header{

   
}


li{ 
    list-style:none; 
}

h2{
text-emphasis: none;
text-shadow:6px 2px navajowhite;
}
footer{text-align: center;
background-image: cover;
background-image:linear-gradient( grey white):

h1{text-align: center;background-image: url(CSGO.jfif); background-repeat:no-repeat;background-size:cover;background-position: center;}
section{border-style:solid;
     border-width:  5px black}
