
#game{
    margin: 25px auto 0;
}
table,td,th { 
    margin: 60px;
    border:2px solid black; 
    padding:50px;
    border-left: remove;
}

td:hover{
    background-color: #e4e4e4;
    cursor: pointer;
}
.topborder{
 border-top-color: blue
}

